
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */
/* font-family: 'PT Sans Narrow', sans-serif; */
:root {
    --main-bg-color: rgb(3, 3, 70);
    --font1:'Playfair Display', serif;
    --font2: 'PT Sans Narrow', sans-serif;
  }
.font1{
      font-family: var(--font1);
  }
.font2{
     font-family: var(--font2);
  }

.max-width-1{
     max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.hr-width{
max-width: 82vw;
 background-color: rgb(243, 192, 192);

}

.btn{
    padding: 5px 15px;
    font-size: 12px;
    border: 2px solid  white;
    background-color:rgb(175, 106, 3) ;
    border-radius: 6px;
    /* margin: 0 6px; */
    font-family: Var(--font1);
    color: rgb(253, 251, 249);
    cursor: pointer;
    margin: 8px 0px;

}
.btn:hover{
    color: rgb(245, 243, 239) ;
    background-color: var(--main-bg-color);
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    

}
.form-input{
    padding: 5px 15px;
    padding-top: 3px;
    font-size: 12px;
    font-family: var(--font1);
    border: 2px solid rgb(175, 106, 3);
    border-radius: 4px;
    margin: 8px 0px;
}
.my-2{
    margin-top: 32px;
    margin-bottom: 32px;
}
.mx-1{
    margin-left: 25px;
    margin-right: 25px;
}
.form-box input, textarea{
    width: 52vw;
    margin: 7px 0px;
    padding: 8px 6px;
    font-size: 10px;
    border: 2px solid rgb(175, 106, 3);
    border-radius: 5px;

}
.black{
    color: #000000;
    font-family: var(--font2);
    font-weight: bold;
}
